{% extends "rest_framework/base.html" %}

{% load i18n %}
{% block title %}{% endblock %}
{% block branding %}
    <span>
        <a href="" rel="nofollow" class="navbar-brand">
            {% trans 'EMR API' %}
        </a>
    </span>
{% endblock %}
